
.dev-input  {
  line-height:20px;
	padding:5px 10px;
}
.side-bar-form .text{ line-height:20px;}

/*#dev-type-select, #promo-type-select { width:266px; }*/

.cuselText {
    height: 16px; padding-top:9px;
}

