#boss, #left-menu span{
	filter:alpha(opacity=0)
}

.nivo-caption {
	filter:alpha(opacity=70);	
}

.port-buttons{
	filter:alpha(opacity=50);
	border-radius: 3px;
}

#port-prev:hover, #port-next:hover{
	filter:alpha(opacity=90);
}
#port-prev[class~='off'], #port-next[class~='off']{
	filter:alpha(opacity=20);
}

.tr-even{
	background:#222;
}